{% extends "layout.html" %}

{% block title %}
New School
{% endblock %}

{% block body %}
<form action="/add_committee" method="post">
	<div class = "form-group">
	    <input class="form-control"placeholder="Committee Name" type="text" autofocus name="committee_name">
	    <textarea name="portfolio_names" rows="4" cols="50">
	    </textarea>
	    <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>	
<form action="/add_committee" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<input type="file" name="file">
		<input type="submit" value="Upload">
	</div>
</form>	
<!--add js to confirm committee name-->
{% endblock %}
