{% extends "layout.html" %}

{% block title %}
Add Students
{% endblock %}

{% block body %}
<form action="/add_students" method="post" enctype="multipart/form-data">
<p>List of portfolios for this school</p>
	<ul>
		<input type="hidden" value="{{ school_id }}" name="school_id">
		{% for portfolio in portfolios %}
		<li class='form-group'>{{ portfolio.name }}<input autocomplete="off"  name="{{ portfolio.name }}" placeholder="Student Name" type="text"></li>
		{% endfor %}
	</ul>
	<button type="submit">Open</button>
</form>
{% endblock %}
