{% extends "layout.html" %}

{% block title %}
Add Students
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <form action="/add_students" method="post" enctype="multipart/form-data" class="col-md-6">
	    <input type="hidden" value="{{ school_id }}" name="school_id">
        <p>List of portfolios for this school:</p>
        <table>
    		{% for portfolio in portfolios %}
       		<div class='input-group mb-2'>
    			<div class="input-group-prepend"><span class="input-group-text">{{ portfolio[2] }}, {{ portfolio[1] }}</span></div>
    			<input class="form-control" autocomplete="off"  name="{{ portfolio[0] }}" placeholder="Student Name" type="text">
		    </div>
		    {% endfor %}
	    </table>
	    <button type="submit" class="btn btn-primary col-md-3">Submit</button>
    </form>
</div>
{% endblock %}
