{% extends "layout.html" %}

{% block title %}
	Event Select5
{% endblock %}

{% block body %}
<form action="/select_event" method="post">
	<div>
	    <select class="form-control" name="name">
	    	<option disabled="" value ="" selected="">Event Name</option>
		    {% for event in events %}
		    <option value="{{ event.name }}">{{ event.name }}</option>
		    {% endfor %}
	    </select>
    	<input class="form-control" type="password" name="key">
	<button type="submit">Open</button>

	</div>

</form>
<form action="/create" method="get">
	<button type="submit">New Event</button>
</form>
{% endblock %}
