{% extends "layout.html" %}

{% block title %}
	Title
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <form action="/login" method="post" class="col-md-4">
        <input autocomplete="off" autofocus class="form-control mt-4" name="username" placeholder="Username" type="text">
        <input class="form-control mt-4" name="password" placeholder="Password" type="password">
        <button class="btn btn-success mt-4 col-md-4" type="submit">Log In</button>
    </form>
</div>
{% endblock %}
