{% extends "layout.html" %}

{% block title %}
	New Event
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
	<form action="/create" method="post" class="col-md-4">
    	<input type="text"  autocomplete="off" autofocus class="form-control mt-3" placeholder="Event Name" name="event_name">
    	<input type="password" class="form-control mt-3" placeholder="Key" name="key">
    	<input type="password" class="form-control mt-3" placeholder="Confirm Key" name="confirmation">
    	<button class="btn btn-primary col-md-4 mt-3" type="submit">Create</button>
    </form>
</div>
{% endblock %}
