{% extends "layout.html" %}

{% block title %}
	New Event
{% endblock %}

{% block body %}
<form action="/create" method="post">
	<div class="form-group">
		<input type="text"  autocomplete="off" autofocus class="form-contorol" placeholder="Event Name" name="event_name">
		<input type="password" class="form-contorol" placeholder="Key" name="key">
		<input type="password" class="form-contorol" placeholder="Confirm Key" name="confirmation">

	</div>
	<button class="btn btn-primary" type="submit">Create</button>

</form>
{% endblock %}
