{% extends "layout.html" %}

{% block title %}
View
{% endblock %}

{% block body %}
<input class="form-control" id="sortedSearch" type="text" placeholder="Search..">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Portfolio</th>
			<th>Committee</th>
			<th>Student</th>
			<th>School</th>
			<th>School Grade</th>
		</tr>
	</thead>
	<tbody id="sortedGrid">
		{% for row in sorted_portfolios %}
		<tr>
			{% for element in row %}
			<td>{{ element }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>

</table>

<input class="form-control" id="extrasSearch" type="text" placeholder="Search..">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Portfolio</th>
			<th>Committee</th>
		</tr>
	</thead>
	<tbody id="extrasGrid">
		{% for row in extra_portfolios %}
		<tr>
			{% for element in row %}
			<td>{{ element }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>

</table>

<table class="table table-striped">
	<thead>
		<tr>
			<th>School ID</th>
			<th>Name</th>
			<th>School Grade</th>
			<th>Size</th>
		</tr>
	</thead>
	<tbody>
		{% for row in schools %}
		<tr>
			{% for element in row %}
			<td>{{ element }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>

</table>

<script>
$(document).ready(function(){
  $("#sortedSearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#sortedGrid tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

$(document).ready(function(){
  $("#extrasSearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#extrasGrid tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}
